.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/y-so-serious.png");
  height: 400px;
  color: white;
  /* z-index: -1; */
}