nav {
  height: 120px;
  width: 100%;
  background-color: #252626;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /*sticky navbar!!*/
  top: 0;
  z-index: 10;
}
.brand {
  font-family: Bungee, sans-serif;
  margin: 0 1.5em 0 1.5em;
}

.nav-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
}

.nav-tweet button {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-tweet i {
  align-self: center;
  color: #3D7AB8;
  animation: bounce 2s infinite
  
}

@keyframes bounce {
  50% {transform: translateY(10px) }
  100% {transform: translateY((-5px))}
}

/*
- Tablet: 768px - 1024px
 */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  nav {
  background-image: url("../images/y-so-serious.png");
}
}
